.seismic-eruptions-app {
  font: 16px verdana, helvetica, sans-serif;
  height: 100%;

  @media (max-width: 700px) {
    font-size: 12px;
  }

  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4.5em;
  }

  .controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4.5em;
    background: #fff;
  }

  .leaflet-control-attribution {
    display: none;
  }

  .error {
    text-align: center;
    h1 {
      margin-top: 5em;
    }
  }
}
