.seismic-eruptions-app {
  font: 16px verdana, helvetica, sans-serif;
  height: 100%;

  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100px;
  }

  .controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;

    .filters {
      background: white;
      margin: 0 auto;

      label {
        display: block;
      }

      input {
        width: 600px;
      }
    }
  }
}
