.bottom-controls {
  width: 100%;
  padding-bottom:0.2em;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;

  .center {
    flex: 5 1 auto;
    margin: 0 30px;
  }

  img {
    width: 9em;
    margin-left: 0.5em;
  }

  .animation-button, .settings-icon, .fullscreen-icon {
    margin: 0 0.2em;
    display: inline-block;
    font-size: 3.5em;
    cursor: pointer;
    color: #777;
    &:hover {
      color: #000;
    }
  }
}