.bottom-controls {
  width: 100%;
  padding-bottom: 0.2em;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;

  .center {
    flex: 5 1 auto;
    margin: 0 30px;
  }

  .fullscreen-icon {
    margin: 0 0.5em;
    font-size: 1.5em;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    background-image: url("icons/fullscreen.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 1.5em;
    border-radius: 0;
    color: transparent;
    &:hover {
      background-image: url("icons/fullscreen-dark.svg");
    }

    &.fullscreen{
      background-image: url("icons/fullscreen-exit.svg");
      &:hover {
        background-image: url("icons/fullscreen-exit-dark.svg");
      }
    }
  }
}