.map-layer-controls{
  font-size: 14px;

  .title {
    margin-bottom: 5px;
  }

  .overlay-button{
    font-size:12px;
  }
}

.map-layer-content{
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    left: 345px;
    bottom: 35px;
    z-index: 3;
    padding-top:20px;

    > div + div{
      display:block;
    }
}
