.map-layer-controls  {
  position: relative;
  font-size: 14px;
  margin-left: 12px;

  .title {
    margin-bottom: 5px;
  }
}

.map-layer-content{
    display: block;
    width: auto;
    height: auto;
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 3;
    padding-top: 20px;

    > div + div {
      display:block;
    }
    label {
      display: block;
    }
}
