.overlay-controls {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;

  .controls {
    position: absolute;
    z-index: 3;
    pointer-events: auto;
  }

  .top {
    top: 10px;
    &.left {
      /* Leave room for Leaflet zoom buttons */
     top: 85px;
    }
  }
  .left {
    left: 12px;
  }
  .bottom {
    bottom: 6.5em;
  }
  .right {
    right: 1em;
  }

  .draw-cross-section-icon {
    path {
      fill-opacity: 1;
    }
  }
}
