.seismic-eruptions-map {
  position: relative;
  height: 100%;

  .map {
    height: 100%;
  }

  .map-controls {
    position: absolute;
    left: 10px;
    bottom: 10px;


    .map-button {
      background: #fff;
      border-radius: 4px;
      width: 26px;
      height: 26px;
      box-shadow: 0 1px 5px rgba(0,0,0,0.65);
      cursor: pointer;
      padding-top: 4px;
      text-align: center;

      &:hover {
        background: #f4f4f4;
      }
    }
  }
}