.earthquake-playback {
  width: 100%;
  padding-bottom: 0.2em;
  overflow: hidden;
  flex-wrap: nowrap;
  align-items: center;
  display: flex;

  .center {
    flex: 5 1 auto;
    margin: 0 3em 0 2em;

    .rc-slider {
      margin-top: 0.5em;
      margin-bottom: 2em;
    }
  }
}

.settings {
  font-size: 0.7em;
  height: 3.5em;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #eee;
  padding: 0.2em 1em;
  color: #444;

  div {
    display: inline-block;
  }
  img {
    height: 3em;
    margin-left: 0.5em;
  }

  & > div {
    white-space: nowrap;
    vertical-align: middle;
  }

  & > div + div {
    margin-left: 2em;
  }

  select {
    margin-left: 0.5em;
  }

  input {
    margin-right: 0.5em;
  }

  .stats {
    width:240px;
  }

  .mag-slider {
    margin-left: 1em;
    height: 3.5em;

    .rc-slider {
      margin-left:4px;
      min-width: 25em;
    }
    .rc-tooltip-inner > span {
      font-family: sans-serif;
    }
  }

  .toggle-earthquakes {
    margin-left:1em;
  }

  .fullscreen-icon {
    position: absolute;
    right: 1em;
    margin-top: -0.15em;
    font-size: 1.5em;
    height: 2em;
    width: 2em;
    background-size: 2em;
    cursor: pointer;
    background-image: url("icons/fullscreen.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 0;
    color: transparent;
    &:hover {
      background-image: url("icons/fullscreen-dark.svg");
    }

    &.fullscreen{
      background-image: url("icons/fullscreen-exit.svg");
      &:hover {
        background-image: url("icons/fullscreen-exit-dark.svg");
      }
    }
  }

}
