.settings {
  align-items: center;
  -webkit-box-align: center;
  display: flex;
  font-size: 0.7em;
  border-top: 1px solid #eee;
  background: white;
  padding: 0.5em 1em;
  min-width: 33em;
  max-width: 100%;
  border-top-left-radius: 10px;
  color: #444;
  transition: bottom 750ms;

  & > div {
    float:left;
    padding-right:20px;
    min-height:15px;
  }

  label{
    padding-right:5px;
  }

  h2 {
    padding-right:40px;
    padding-left:10px;
    font-size:1.1em;
  }

  select {
    margin-left: 10px;
  }

  .fa-gear{
    font-size:1.5em;
  }

  .map-type-label{
    padding-right:0px;
  }

  .mag-slider{
    float:left;
  }

  .rc-slider {
    font-size: 0.6em;
    min-width: 125px;
    margin: 0.5em;
  }

  .rc-tooltip-inner > span {
    font-family: sans-serif;
  }
}
