.settings {
  font-size: 0.7em;
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #eee;
  padding: 0.1em 1em;
  color: #444;

  img {
    height: 3em;
    margin-left: 0.5em;
  }

  & > div {
    white-space: nowrap;
  }

  & > div + div {
    margin-left: 2em;
  }

  input, select {
    margin-left: 0.5em;
  }

  .mag-label {
    display: inline-block;
    vertical-align: middle;
  }

  .mag-slider {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 1em;

    .rc-slider {
      min-width: 100px;
    }
    .rc-tooltip-inner > span {
      font-family: sans-serif;
    }
  }
}
